<!DOCTYPE html>
<html lang="en">

<head>
    <title>__TITLE__</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="__DESCRIPTION__">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="__MYURL__">
    <meta property="og:title" content="__TITLE__">
    <meta property="og:description" content="__DESCRIPTION__">
    <meta property="og:type" content="website">
    <meta property="og:url" content="__MYURL__">
    <meta property="og:image" content="https://yourdomain.com/images/preview.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="__TITLE__">
    <meta name="twitter:description" content="__DESCRIPTION__">
    <meta name="twitter:image" content="https://yourdomain.com/images/preview.jpg">
    <link rel="stylesheet" href="/styling/landing-page.css">
    <link rel="stylesheet" href="/styling/doc-view-page.css">
    <link rel="stylesheet" href="/styling/landing-page-mobile.css">
    <link rel="icon" type="image/png" href="/graphics/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji-mart@latest/css/emoji-mart.css">
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
</head>

<body>
    <p id="doc-id" style="display:none">__DOCID__</p>
    <div id="main-view-container" class="content-and-reactions">
        <div id="top-menu" class="dropdown-content">
            <p id="disp_name" class="disp-name" href="#"></p><a href="#">Account Settings</a> <a id="logout"
                href="#">Logout</a>
        </div>
        <div id="emojiPickerContainer" style="z-index:1000;display:none"></div>
        <div class="nav-bar">
            <div class="nav-bar-top"><button class="menu-btn nav-menu"></button></div>
            <div class="navbar-item-container">
                <div class="nav-bar-item"><button class="nav-btn nav-home"></button></div>
                <div class="nav-bar-caption" id="home_btn">Home</div>
            </div>
            <div class="navbar-item-container">
                <div class="nav-bar-item"><button class="nav-btn nav-trending"></button></div>
                <div class="nav-bar-caption">Trending</div>
            </div>
            <div class="navbar-item-container">
                <div class="nav-bar-item"><button class="nav-btn nav-follows"></button></div>
                <div class="nav-bar-caption">Followings</div>
            </div>
            <div class="navbar-item-container">
                <div class="nav-bar-item"><button class="nav-btn nav-pub"></button></div>
                <div class="nav-bar-caption">Publications</div>
            </div>
        </div>
        <div class="docview-top-bar">
            <div class="tool-bar">
                <div class="main-logo bg-img-setting"></div>
                <div class="search-box"><input type="text" placeholder="Search..."> <button type="submit"></button>
                </div>
                <div class="voice-search"><button></button></div>
                <div><button id="share_btn" class="publish-btn">Share</button></div>
                <div id="profile"></div>
            </div>
        </div>
        <div>
            <div class="title-container"><span id="con_title" class="doc-title">__TITLE__</span> <span id="likes"
                    class="reaction" style="margin-left:10em">24</span> <button id="like_btn"
                    class="react-btn like-black"></button> <span id="dislikes" class="reaction"
                    style="margin-left:2em">3</span> <button id="dislike_btn" class="react-btn dislike-black"></button>
            </div>
            <div class="loader" id="loading1"><img src="/graphics/flowing-gradient.gif"></div>
            <div id="doc-view-panel" class="doc-view-container">__VIEWERHTML__</div>
            <p id="uploader" class="author-name">__UPLOADER__</p>
            <div class="reactions-panel">
                <div id="desc-box" class="desc-box">__DESCRIPTION__</div>
                <div class="comment-heading">
                    <p id="com_heading" class="comment-heading">975 Comments</p>
                </div>
                <div id="comm_input" class="comment-input"><label id="who"><b>${display_name}:</b></label> <textarea
                        class="comment-box" id="comment" name="user_comments" rows="1" cols="30"
                        placeholder="Add a public comment"></textarea> <button id="emojiBtn">😊</button> <button
                        id="post_btn" class="post-btn">Post</button>`;</div>
                <div class="loader" id="loading2"><img src="/graphics/flowing-gradient.gif"></div>
                <div class="comt-container" id="cmt_container"></div>
                <div></div>
            </div>
        </div>
        <div class="ads-panel"></div>
    </div>
    <script src="/assets/view.js" defer="defer"></script>
</body>

</html>